form{
    margin: auto;
    margin-top : 50px;
    width: 50%;
    padding: 10px;
    min-height: 50vh;
}

form>input[type=submit]{
    width: 100%;
}

.form-group{
  padding: 0.1em 0em;
  margin-top: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
}

.btn{
  background: #39603D;
  border-radius: 45px;
  color: white;
  margin-top: 15px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #A3BCB6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(57, 96, 61, 0.25);
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}