.col-xs-3{
    margin-left: 15px;
}
.navbar{
	background-color:#C7DDE0;
}
.nav-link{
	color: red;
}
.filterPaeStatus{
    margin-left: 1vmin;
    margin-right: 2vmin;
}
#filtrePae{
	background-color: #F1F1F1; 
}
#filtrePae .formcontrol{
	background-color: DodgerBlue;
}
.formControl{
	background-color: red;
}
.filterStudents{
    margin-top: 15px;
}

.col-xs-3{
	display: inline-block;
}

.container{
	margin-left: 20%;
	margin-right: 20%;
}

#icon-search{
    max-width:50px;
    margin-right: 2.5vmin;
    /*height:auto;*/
}

#logoHelha {
	display:flex;
	orientation: flex-start;
    max-width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: 5vmin;
}

#formLogo{
	margin-left:auto;
}

li {
    margin-right: 30px;
}

li>a {
    font-weight: bold;
    font-size: large;
}

#NavBarDisconnect{
    cursor: pointer;
}

#NavBarDisconnect:hover {
    color: red;
}
.tableStudent{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}