body{
	background-color: #FEFEE2;
}
.NavBarDisconnect{
    cursor: pointer;
}

.NavBarDisconnect:hover {
    color: red;
}
.navbar{
	background-color:#C7DDE0;
}

.btn{
	margin-top: 3vmin;
    background: #434C54;
    border-radius: 45px;
    color: white;
}

.btn:hover {
    color: #495057;
    background-color: #069B93;
    border-color: #06699b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(6, 155, 147, 0.5);
}

#logoExcel{
    max-width:100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vmin;
    margin-botton: 3vmin;
}

#logoHelha {
	display:flex;
	orientation: flex-start;
    max-width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: 5vmin;
}

#formLogo{
	margin-left:auto;
}

h1{
    text-align: center;
}

hr{
	position: relative;
	height: 5px;
	width: 80vmin;
}

.excelForm{
	position: center;
	margin-top: 50px;
}

#formExcel{
    margin: auto;
    min-height: 50vh;
    
}

#btnSubmit{
	margin-top: 10vmin;
}

.importedFile{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vmin;
	width: 45%;
}