form{
    margin: auto;
    width: 50%;
    padding: 10px;
    min-height: 50vh;
}

form>input[type=submit]{
    width: 100%;
}

.form-group{
  padding: 0.1em 0em;
  margin-top: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
}

.btn{
	margin-top: 3vmin;
    background: #434C54;
    border-radius: 45px;
    color: white;
}

.btn:hover {
    color: #495057;
    background-color: #069B93;
    border-color: #06699b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(6, 155, 147, 0.5);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #A3BCB6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(57, 96, 61, 0.25);
}

h1{
    margin-top: 1vmin;
    text-align: center;
}

hr{
	position: relative;
	height: 5px;
	width: 80vmin;
}

#btnSubmit{
	margin-top: 5vmin;
}

.returnAdmin{
	margin: 1vmin;
}

a{
	border-color: black;
	border-radius: 45px;
  	text-decoration: none;
  	display: inline-block;
  	width: 19.5%;
  	margin-right: 0.625%;
  	text-align: center;
  	line-height: 3;
  	color: white;
}

a:link, a:visited, a:focus{
	background:  #434C54;
}

a:hover{
	background: #069B93;
	color: black;
}

a:active{
	background: #C7DDE0;
	color: black;
}
.formUser{
	text-align: center;
}